@page
@using MelodyCircle.ExtensionMethods
@model ExternalLoginModel
@{
    ViewData["Title"] = @Html.Translate("LB_REGISTER");
}

<h1>@ViewData["Title"]</h1>
<h2 id="external-login-title">@Html.Translate("LB_ASSOCIATE") @Model.ProviderDisplayName @Html.Translate("LB_ACCOUNT")</h2>
<hr />

@* <p id="external-login-description" class="text-info">
    You've successfully authenticated with <strong>@Model.ProviderDisplayName</strong>.
    Please enter an email address for this site below and click the Register button to finish
    logging in.
</p> *@

<div class="row">
    <div class="col-md-4">
        <form asp-page-handler="Confirmation" asp-route-returnUrl="@Model.ReturnUrl" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
            <div class="form-floating mb-3">
                <input asp-for="Input.Email" class="form-control" autocomplete="email" placeholder="" disabled />
                <label asp-for="Input.Email" class="form-label">Email</label>
                <span asp-validation-for="Input.Email" class="text-danger"></span>
            </div>
            <div class="form-floating mb-3">
	            <input asp-for="Input.UserName" class="form-control" autocomplete="username" aria-required="true" placeholder="username" />
	            <label asp-for="Input.UserName">@Html.Translate("LB_USERNAME")</label>
	            <span asp-validation-for="Input.UserName" class="text-danger"></span>
            </div>
            <div class="form-floating mb-3">
                <input asp-for="Input.Name" class="form-control" autocomplete="username" aria-required="true" placeholder="name" />
                <label asp-for="Input.Name">@Html.Translate("LB_NAME")</label>
                <span asp-validation-for="Input.Name" class="text-danger"></span>
            </div>
            <div class="form-floating mb-3">
                <input asp-for="Input.BirthDate" class="form-control" autocomplete="username" placeholder="birthdate" />
                <label asp-for="Input.BirthDate" class="form-label">@Html.Translate("LB_BIRTHDATE")</label>
                <span asp-validation-for="Input.BirthDate" class="text-danger"></span>
            </div>
            <div class="form-floating mb-3">
                <input asp-for="Input.Password" class="form-control" autocomplete="new-password" aria-required="true" placeholder="password" />
                <label asp-for="Input.Password">@Html.Translate("LB_PASSWORD")</label>
                <span asp-validation-for="Input.Password" class="text-danger"></span>
            </div>
            <button type="submit" class="w-100 btn btn-lg btn-primary">@Html.Translate("LB_REGISTER")</button>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
