@page
@model LoginModel

@{
    ViewData["Title"] = "Log in";
}

@* <h1>@ViewData["Title"]</h1> *@

<div class="row">
    <div class="col-md-4 mx-auto">
        <section class="border border-purple bg-white text-dark p-2 p-sm-2 p-md-3 p-lg-5 rounded-3">
            <form id="loginForm" asp-route-returnUrl="@Model.ReturnUrl" method="post">
                <div class="text-end">
                    <button type="button" class="btn btn-sm bg-darkPurple text-white rounded-circle" data-bs-toggle="tooltip" data-bs-placement="bottom" data-bs-html="true"
                            title="<p>Se ainda não se registou pode faze-lo na opção registar, com email e password, ou com a sua conta Google.</p>">
                        ?
                    </button>
                </div>
                <h2 class="text-dark text-center mb-3">Log In</h2>
                <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
                <div class="mb-3 text-center">
                    <label asp-for="Input.Email" class="form-label text-dark fs-md-4 fs-lg-3">Email ou Username</label>
                    <input asp-for="Input.Email" class="form-control" autocomplete="username" aria-required="true" placeholder="nome@email.com" />
                    <span asp-validation-for="Input.Email" class="bg-danger text-white"></span>
                </div>
                <div class="mb-3 text-center">
                    <label asp-for="Input.Password" class="form-label text-dark fs-md-4 fs-lg-3">Palavra-passe</label>
                    <input asp-for="Input.Password" class="form-control" autocomplete="current-password" aria-required="true" placeholder="Palavra-passe" />
                    <span asp-validation-for="Input.Password" class="bg-danger text-white"></span>
                </div>
                <div class="checkbox mb-3 text-center">
                    <label asp-for="Input.RememberMe" class="form-label text-dark fs-md-4 fs-lg-3">
                        <input class="form-check-input bg-purple " asp-for="Input.RememberMe" />
                        @Html.DisplayNameFor(m => m.Input.RememberMe)
                    </label>
                </div>
                <div class="mb-3 text-center">
                    <p>
                        <a id="forgot-password" asp-page="./ForgotPassword" class="form-label text-dark fs-md-4 fs-lg-3">Esqueceu-se da palavra-passe?</a>
                    </p>
                <div>
                        <button id="login-submit" type="submit" class="w-75 btn btn-lg bg-purple text-white">Log in</button>
                </div>
                    <div class="text-center">
                        <a asp-page="./Register" asp-route-returnUrl="@Model.ReturnUrl" class="w-75 mt-2 btn btn-lg bg-purple text-white">Register</a>
                    </div>
                    @*<p>
                        <a id="resend-confirmation" asp-page="./ResendEmailConfirmation">Resend email confirmation</a>
                    </p>*@
                </div>
            </form>
            <div class="text-center">
                <p>
                    @{
                        if ((Model.ExternalLogins?.Count ?? 0) == 0)
                        {
                            <div>
                                <p>
                                    There are no external authentication services configured. See this <a href="https://go.microsoft.com/fwlink/?LinkID=532715">
                                        article
                                        about setting up this ASP.NET application to support logging in via external services
                                    </a>.
                                </p>
                            </div>
                        }
                        else
                        {
                            <form id="external-account" asp-page="./ExternalLogin" asp-route-returnUrl="@Model.ReturnUrl" method="post" class="form-horizontal">
                                <div>
                                    <p>
                                        @foreach (var provider in Model.ExternalLogins!)
                                        {
                                            <button type="submit" class="w-80 mt-2 btn btn-lg bg-primary text-white" name="provider" value="@provider.Name" title="Log in using your @provider.DisplayName account">@provider.DisplayName</button>
                                        }
                                    </p>
                                </div>
                            </form>
                        }
                    }
                </p>
            </div>
        </section>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
