@model IEnumerable<Tutorial>

@{
    ViewData["Title"] = "Tutoriais";
}

<h1>@ViewData["Title"]</h1>

@if (User.Identity.IsAuthenticated)
{
    @if (User.IsInRole("Teacher") || User.IsInRole("Mod") || User.IsInRole("Admin"))
    {
        <p>
            <a asp-action="Create" class="btn btn-primary">Adicionar novo tutorial</a>
        </p>
    }
}

<table class="table">
    <thead>
        <tr>
            <th>Título</th>
            <th>Descrição</th>
            <th>Criador</th>
            <th>Ações</th>
        </tr>
    </thead>
    <tbody>
        @if (Model != null && Model.Any())
        {
            @foreach (var item in Model)
            {
                <tr>
                    <td>@Html.DisplayFor(modelItem => item.Title)</td>
                    <td>@Html.DisplayFor(modelItem => item.Description)</td>
                    <td>@Html.DisplayFor(modelItem => item.Creator)</td>

                    @if (User.Identity.Name == item.Creator)
                    {
                        <td>
                            <a asp-action="Edit" asp-route-id="@item.Id">Editar</a> |
                            <a asp-action="Delete" asp-route-id="@item.Id">Excluir</a>
                        </td>
                    }
                    else
                    {
                        <td></td>
                    }

                    <td>
                        <a asp-action="Index" asp-controller="Step" asp-route-tutorialId="@item.Id">Passos</a>
                    </td>
                </tr>
            }
        }
        else
        {
            <tr>
                <td colspan="4">Não há tutoriais disponíveis</td>
            </tr>
        }
    </tbody>
</table>
