@using Microsoft.AspNetCore.Identity
@using MelodyCircle.Data
@inject UserManager<User> UserManager
@inject ApplicationDbContext Context

@{
    ViewData["Title"] = "Admin Panel";
}

<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.js"></script>

<div class="d-flex justify-content-center align-items-center">
	<button type="button" class="border-0 bg-lightBlue unselectable align-items-center" data-bs-toggle="offcanvas" data-bs-target="#offcanvasStatistics" aria-controls="offcanvasStatistics">
		<img src="~/img/statistic.svg" width="32" height="32" class="mt-5 w-100" />
	</button>
	<button type="button" class="border-0 bg-lightBlue unselectable align-items-center" data-bs-toggle="offcanvas" data-bs-target="#offcanvasAdd" aria-controls="offcanvasAdd">
		<img src="~/img/add.svg" width="32" height="32" class="mt-5 w-100" />
	</button>
</div>


@*Estatisticas*@
<div class="offcanvas text-wrap offcanvas-start border-purple rounded mt-auto m-4 w-25 h-75 text-center align-items-center d-flex flex-column" data-bs-scroll="true" data-bs-backdrop="false" tabindex="-1" id="offcanvasStatistics" aria-labelledby="offcanvasStatistics">
	<div class="offcanvas-header">
		<h2 class="offcanvas-title text-break" id="offcanvasScrollingLabel">Informações da Aplicação</h2>
		<button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
	</div>

	<div class="offcanvas-body">
		<h4>Estatísticas</h4>

		<div class="my-4">
			<h6>Utilizadores: @Context.Users.Count()</h6>
			<a class="btn bg-purple text-white my-2" href="@Url.Action("UserCreationStats", "Stat")">Ver Estatísticas de Utilizadores</a>
		</div>

		<div class="my-4">
			<h6>Tutoriais: @Context.Tutorials.Count()</h6>
			<a class="btn bg-purple text-white my-2" href="@Url.Action("TutorialCreationStats", "Stat")">Ver Estatísticas de Tutoriais</a>
		</div>

		<div class="my-4">
			<h6>Steps: @Context.Steps.Count()</h6>
			<a class="btn bg-purple text-white my-2" href="@Url.Action("StepCreationStats", "Stat")">Ver Estatísticas de Passos</a>
		</div>

		<div class="my-4">
			<h6>Collabs: @Context.Collaborations.Count()</h6>
			<a class="btn bg-purple text-white my-2" href="@Url.Action("CollaborationCreationStats", "Stat")">Ver Estatísticas de Colaborações</a>
		</div>

		<!-- This div remains at its place but the content above is centered vertically -->
		<div class="mt-auto">
			<h6>Versão: 1.0.0</h6>
			<h6>Última Atualização:<br> 27 de Março de 2024</h6>
		</div>
	</div>
</div>

@*ADICIONAR DADOS*@
<div class="offcanvas offcanvas-end border-purple rounded mt-auto m-4 w-25 h-75 text-center align-items-center d-flex flex-column " data-bs-scroll="true" data-bs-backdrop="false" tabindex="-1" id="offcanvasAdd" aria-labelledby="offcanvasAdd">
	<div class="offcanvas-header">
		<h2 class="offcanvas-title" id="offcanvasScrollingLabel">Informações da Aplicação</h2>
		<button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
	</div>

	<div class="offcanvas-body">
		<h4>
			Adicionar Dados
		</h4>

		<div class="border-purple rounded m-4 p-3 ">
			<form method="post" asp-action="CreateMultipleUsers">
				<div class="form-group">
					<label for="numberOfUsers">Número de Utilizadores:</label>
					<input type="number" class="form-control" id="numberOfUsers" name="numberOfUsers" value="100">
				</div>
				<button type="submit" class="btn bg-purple text-white mt-2">Criar Users</button>
			</form>
			<p></p>
			<form asp-action="DeleteAddedUsers" method="post" asp-controller="Admin">
				<button type="submit" class="btn bg-purple text-white">Excluir Users Criados</button>
			</form>
		</div>

		<div class="border-purple rounded m-4 p-3 ">
			<form method="post" asp-action="CreateMultipleTutorials">
				<div class="form-group">
					<label for="numberOfTutorials">Número de Tutoriais:</label>
					<input type="number" class="form-control" id="numberOfTutorials" name="numberOfTutorials" value="100">
				</div>
				<button type="submit" class="btn bg-purple text-white mt-2">Criar Tutorials</button>
			</form>
			<p></p>
			<form asp-action="DeleteAddedTutorials" method="post" asp-controller="Admin">
				<button type="submit" class="btn bg-purple text-white">Excluir Tutorials Criados</button>
			</form>
		</div>

		<div class="border-purple rounded m-4 p-3 ">
			<form method="post" asp-action="CreateMultipleCollaborations">
				<div class="form-group">
					<label for="numberOfCollaborations">Número de Colaborações:</label>
					<input type="number" class="form-control" id="numberOfCollaborations" name="numberOfCollaborations" value="100">
				</div>
				<button type="submit" class="btn bg-purple text-white mt-2">Criar Collaborations</button>
			</form>
			<p></p>
			<form asp-action="DeleteAddedCollaborations" method="post" asp-controller="Admin">
				<button type="submit" class="btn bg-purple text-white">Excluir Collaborations Criados</button>
			</form>
		</div>

		<div class="border-purple rounded m-4 p-3 ">
			<form method="post" asp-action="CreateMultipleSteps">
				<div class="form-group">
					<label for="numberOfSteps">Número de Passos:</label>
					<input type="number" class="form-control" id="numberOfSteps" name="numberOfSteps" value="100">
				</div>
				<button type="submit" class="btn bg-purple text-white mt-2">Criar Steps</button>
			</form>
			<p></p>
			<form asp-action="DeleteAddedSteps" method="post" asp-controller="Admin">
				<button type="submit" class="btn bg-purple text-white">Excluir Steps Criados</button>
			</form>
		</div>
	</div>
</div>



<table class="table text-center border-purple bg-white p-4 mx-auto mb-4 w-50 justify-content-center align-items-center mt-2">
	<thead>
	<tr>
		<th>Username</th>
		<th>Email</th>
		<th>Role</th>
		<th>Actions</th>
	</tr>
	</thead>
	<tbody>
	@foreach (var user in Model)
	{
		<tr>
			<td>@user.UserName</td>
			<td>@user.Email</td>
			<td>
				@{
					var userRoles = await UserManager.GetRolesAsync(user);
					var rolesString = string.Join(", ", userRoles);
				}
				@rolesString
			</td>
			<td>
                    <a asp-action="EditUser" asp-area="" asp-controller="Admin" asp-route-id="@user.UserName"><img src="~/img/edit.svg" /></a>

					<!-- Botão para acionar o modal -->
					<button type="button" class="border-0 bg-white" data-bs-toggle="modal" data-bs-target="#removeUserModal">
						<img src="~/img/delete.svg" />
					</button>

					<!-- Modal para remover utilizador -->
					<div class="modal fade" id="removeUserModal" tabindex="-1" aria-labelledby="removeUserModalLabel" aria-hidden="true">
						<div class="modal-dialog">
							<div class="modal-content">
								<div class="modal-header">
									<h5 class="modal-title" id="removeUserModalLabel">Remover Utilizador</h5>
									<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
								</div>
								<div class="modal-body">
									<!-- Mensagem de confirmação -->
									<p>Tem certeza que deseja remover @user.UserName ?</p>
									<!-- Formulário para remover utilizador -->
									<form asp-controller="Admin" asp-action="DeleteUserConfirmed" method="post">
										<input type="hidden" id="userId" name="userId" value="@user.UserName">
										<div class="mb-3">
											<!-- Botão de confirmação -->
											<button type="submit" class="btn bg-danger text-white rounded">Remover</button>
										</div>
										@Html.AntiForgeryToken()
									</form>
								</div>
							</div>
						</div>
					</div>



			</td>
		</tr>
	}
	</tbody>
</table>
