@using MelodyCircle.ExtensionMethods
@model MelodyCircle.Models.Step

@{
    ViewData["Title"] = @Html.Translate("LB_ADDSTEP");
}

@* Eduardo Andrade, Rodrigo Nogueira, Guilherme Bernardino *@
@section head {
    <link href="https://cdn.jsdelivr.net/npm/quill@2.0.0-rc.2/dist/quill.snow.css" rel="stylesheet" />
}

@section scripts {
    <script src="https://cdn.jsdelivr.net/npm/quill@2.0.0-rc.2/dist/quill.js"></script>
    <script>
        const quill = new Quill('#editor', {
            placeholder: 'Compose an epic...',
            theme: 'snow',
        });
        let contentInput = document.getElementById("contentInput");
        contentInput.value = JSON.stringify(quill.getContents());
        quill.on('text-change', function(delta, oldDelta, source) {
            contentInput.value = JSON.stringify(quill.getContents());
        })  
    </script>
}

<div class="row justify-content-center">
    <div class="col-sm-6 bg-white rounded-3 border border-purple">
        <div class="text-end pt-3">
            <button type="button" class="btn btn-sm bg-darkPurple text-white rounded-circle " data-bs-toggle="tooltip" data-bs-placement="bottom" data-bs-html="true"
                    title="<p>@Html.Translate("TT_ADDSTEP")</p>">
                ?
            </button>
        </div>
        <form asp-action="Create">
            <div class="form-group text-center mt-3">
                <h1>@ViewData["Title"]</h1>
            </div>
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group text-center" style="display: none;">
                <label asp-for="TutorialId" class="control-label"></label>
                <input asp-for="TutorialId" class="form-control" readonly />
            </div>
            <input type="hidden" asp-for="TutorialId" value="@ViewBag.TutorialId" />
            <div class="form-group text-center">
                <label asp-for="Title" class="control-label"></label>
                <input asp-for="Title" class="form-control" />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
            <div class="form-group text-center">
                <label asp-for="Content" class="control-label"></label>
                <input type="hidden" asp-for="Content" id="contentInput" value="" />
                @* <textarea style="visibility: hidden;" asp-for="Content" class="" rows="4"></textarea> *@
                <div id="editor">
                    <p>Hello, <strong>World</strong></p>
                </div>
                <span asp-validation-for="Content" class="text-danger"></span>
            </div>
            <div class="form-group text-center py-3">
                <input type="submit" value="@Html.Translate("LB_SAVE")" class="btn bg-purple text-white" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index" asp-controller="Step" asp-route-tutorialId="@ViewBag.TutorialId">@Html.Translate("LB_GOBACKTOSTEPLIST")</a>
</div>