@using System.Security.Claims
@using MelodyCircle.ExtensionMethods
@using Microsoft.AspNetCore.Identity
@using MelodyCircle.Data
@model IEnumerable<ForumPost>

@inject UserManager<User> UserManager
@inject ApplicationDbContext Context

@{
    ViewData["Title"] = "Home Page";
}

@section scripts {
    <script src="https://cdn.jsdelivr.net/npm/quill@2.0.0-rc.2/dist/quill.js"></script>
    <script>
        let stepDivs = document.getElementsByName("stepDiv");
        let stepData = [];

        @if (Model != null && Model.Any())
        {
            @foreach (var item in Model)
            {
                @:stepData.push(@Html.Raw(item.Content));
            }
        }
                var quill = new Quill('#editor');

        for (let cnt = 0; cnt < stepData.length; cnt++) {
            stepDivs[cnt].innerHTML = convertToHtml(quill, stepData[cnt]);
        }

        function convertToHtml(editor, contents) {
            editor.setContents(contents);
            return editor.root.innerHTML;
        }

        document.getElementById("getPartial").addEventListener("click", () => {
            let lastId = document.getElementById("content-container").lastElementChild.getAttribute("data-tutorial-id");
            $.ajax({
                url: 'Forum/Posts',
                type: 'GET',
                data: {
                    lastId: lastId
                },
                success: function (response) {
                    $('#content-container').append(response);
                    console.log(response);
                },
                error: function () {
                    console.error('Failed to fetch the HTML');
                }
            });
            console.log(lastId)
        });
    </script>

    <link href="https://cdn.jsdelivr.net/npm/quill@2.0.0-rc.2/dist/quill.snow.css" rel="stylesheet" />
}

<div class="text-center">
    <h1 class="display-4">@Html.Translate("LB_WELCOME").</h1>
    <hr />
    <br />
</div>

@if (Model != null && Model.Any())
{
    <div class="d-flex flex-wrap justify-content-center" id="content-container">
        @foreach (var item in Model)
        {
            <div class="border border-purple bg-white text-dark p-2 p-sm-2 p-md-3 p-lg-5 rounded-3 text-center m-2" style="width: 24%;" data-tutorial-id="@item.Id" >
                <h1 class="bold">@Html.DisplayFor(modelItem => item.Title)</h1>
                <hr>
                <section id="stepDiv" name="stepDiv" class="py-2 px-1"></section>
                <a href="@Url.Action("Comments", "Forum", new { id = item.Id })" class="btn bg-purple text-white mt-4">Ver comentários</a>
                @if (!item.IsClosed && (User.IsInRole("Admin") || User.IsInRole("Mod")))
                {
                        <!-- Botão de remover -->
                        <button type="button" class="mt-2 btn bg-danger text-white p-auto" data-bs-toggle="modal" data-bs-target="#fecharPostModal">
                        Fechar Post
                        </button>

                    <!-- Botão para acionar o modal -->
                    <button type="button" class="mt-2 btn bg-danger text-white p-auto" data-bs-toggle="modal" data-bs-target="#fecharPostModal">
                        Fechar Post
                    </button>

                    <!-- Modal para fechar post -->
                    <div class="modal fade" id="fecharPostModal" tabindex="-1" aria-labelledby="fecharPostModalLabel" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="fecharPostModalLabel">Fechar Post</h5>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                    <!-- Mensagem de confirmação -->
                                    <p>Tem certeza que deseja remover este post?</p>
                                    <!-- Formulário para remover post -->
                                    <form asp-controller="Forum" asp-action="ClosePost" method="post">
                                        <input type="hidden" id="postId" name="id" value="@item.Id">
                                        <div class="mb-3">
                                            <!-- Botão de confirmação -->
                                            <button type="submit" class="btn bg-danger text-white rounded">Remover</button>
                                        </div>
                                        <!-- Para proteção CSRF -->
                                        @Html.AntiForgeryToken()
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>

                    
                }

               
            </div>
        }
    </div>
    <button id="getPartial" class="d-flex justify-content-center btn bg-purple text-white my-2">Ver partials</button>
}

@if (User.Identity.IsAuthenticated)
{
    if (User.IsInRole("Admin") | User.IsInRole("Mod"))
    {
        //<a class="btn bg-purple text-white rounded-circle floating-button" href="/Home/Create" data-bs-toggle="modal" data-bs-target="#addMusicModal">+</a>
        <a href="@Url.Action("Create", "Forum")" class="btn bg-purple text-white rounded-circle floating-button">+</a>
    }
    <input type="hidden" id="editor" name="editor" value="" />
}
