@using System.Security.Claims
@using MelodyCircle.ExtensionMethods
@using Microsoft.AspNetCore.Identity
@using MelodyCircle.Data
@model IEnumerable<ForumPost>
@inject UserManager<User> UserManager
@inject ApplicationDbContext Context

@{
    ViewData["Title"] = "Home Page";
}

@section scripts {
    <script src="https://cdn.jsdelivr.net/npm/quill@2.0.0-rc.2/dist/quill.js"></script>
    <script>
        let stepDivs = document.getElementsByName("stepDiv");
        let stepData = [];

        @if (Model != null && Model.Any())
        {
            @foreach (var item in Model)
            {
                @:stepData.push(@Html.Raw(item.Content));
            }
        }
                var quill = new Quill('#editor');

        for (let cnt = 0; cnt < stepData.length; cnt++) {
            stepDivs[cnt].innerHTML = convertToHtml(quill, stepData[cnt]);
        }

        function convertToHtml(editor, contents) {
            editor.setContents(contents);
            return editor.root.innerHTML;
        }
    </script>

    <link href="https://cdn.jsdelivr.net/npm/quill@2.0.0-rc.2/dist/quill.snow.css" rel="stylesheet" />
}

<div class="text-center">
    <h1 class="display-4">@Html.Translate("LB_WELCOME").</h1>
    <hr />
    <br />
</div>

@if (Model != null && Model.Any())
{
    @foreach (var item in Model)
    {
        <div class="border border-purple bg-white text-dark p-2 p-sm-2 p-md-3 p-lg-5 rounded-3 text-center w-25 justify-items-center mx-auto">
            <h1 class="bold">@Html.DisplayFor(modelItem => item.Title)</h1>
            <hr>
            <section id="stepDiv" name="stepDiv" class="py-2 px-1"></section>
            <a href="@Url.Action("Comments", "Forum", new { id = item.Id })" class="btn bg-purple text-white mt-4">Ver comentários</a>
            @if (!item.IsClosed && (User.IsInRole("Admin") || User.IsInRole("Mod")))
            {
                <form asp-action="ClosePost" asp-controller="Forum" asp-route-id="@item.Id" method="post">
                    <button type="submit" class="btn btn-danger mt-2 mb-1">Fechar Post</button>
                </form>
            }
        </div>
        <br />
    }
}

@if (User.Identity.IsAuthenticated)
{
    if (User.IsInRole("Admin") | User.IsInRole("Mod"))
    {
        //<a class="btn bg-purple text-white rounded-circle floating-button" href="/Home/Create" data-bs-toggle="modal" data-bs-target="#addMusicModal">+</a>
        <a href="@Url.Action("Create", "Forum")" class="btn bg-purple text-white rounded-circle floating-button">+</a>
    }
    <input type="hidden" id="editor" name="editor" value="" />
}
