@using MelodyCircle.ExtensionMethods
@using Microsoft.AspNetCore.Mvc.TagHelpers
@model List<User>

@* André Nunes, Rodrigo Nogueira *@

<form asp-action="Search" method="post" class="text-center mx-auto w-50 d-flex justify-content-center align-items-center">

	<select name="searchType" class="border-purple rounded bg-white p-1 text-center">
		<option value="None">@Html.Translate("LB_NOFILTER")</option>
		<option value="User">@Html.Translate("LB_ARTIST")</option>
		<option value="Tutorial">@Html.Translate("LB_TUTORIAL")</option>
		<option value="Collaboration">@Html.Translate("LB_COLLAB")</option>
	</select>
    <input type="text" name="searchTerm" placeholder="@Html.Translate("LB_SEARCH")" class="border-purple rounded p-1 w-50" />
    <button type="submit" class="border-0 bg-lightBlue"><img src="~/img/iconprocurar.svg" /></button>
</form>

<h2 class="text-center mb-4">@Html.Translate("LB_USERSEARCHRESULTS")</h2>

@if (Model != null && Model.Any())
{
    @foreach (var user in Model)
    {
        <div class=" text-center border-purple bg-white p-4 mx-auto mb-4 w-50  justify-content-center align-items-center">
            <h4><a asp-action="Profile" asp-controller="User" asp-route-id="@user.UserName">@user.UserName</a></h4>
        </div>
    }
}
else
{
    <p>@Html.Translate("LB_NORESULT")</p>
}