@using MelodyCircle.ExtensionMethods
@model MelodyCircle.Models.Collaboration

@* Eduardo Andrade, Guilherme Bernardino *@

@{
    ViewData["Title"] = @Html.Translate("LB_CONTRIBUTINGLIST");
}

<div class="text-center">
    <h1>@ViewData["Title"]</h1>

    <div class="rounded border border-purple table-responsive row bg-white my-3 py-3 px-3 d-flex align-items-center justify-content-between w-100">

        <table class="table table-striped">
            <thead>
                <tr>
                    <th>@Html.Translate("LB_USERNAME")</th>
                    <th>@Html.Translate("LB_ACTIONS")</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var user in Model.ContributingUsers)
                {
                    <tr>
                        <td><a asp-action="Profile" asp-controller="User" asp-route-id="@user.UserName">@user.UserName</a></td>
                        <td>
                            <form method="post" action="@Url.Action("RemoveUser", "Collaboration", new { collaborationId = Model.Id, userId = user.Id })">
                                @Html.AntiForgeryToken()
                                <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
	                                @Html.Translate("LB_REMOVE")
                                </button>
                                <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                                    <div class="modal-dialog">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h5 class="modal-title" id="staticBackdropLabel">@Html.Translate("LB_REMOVEFROMCOLLAB")</h5>
                                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                            </div>
                                            <div class="modal-footer">
                                               @*  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">@Html.Translate("Close")</button> *@
                                                <button type="submit" class="btn btn-danger">@Html.Translate("LB_REMOVE")</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </td>
                    </tr>
                }
                @if (!Model.ContributingUsers.Any())
                {
                    <tr>
                        <td colspan="2">@Html.Translate("LB_NOUSERSCL")</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>

    <a href="@Url.Action("Index", "Collaboration")" class="btn bg-purple text-white">@Html.Translate("LB_GOBACK")</a>
</div>