@model MelodyCircle.Models.Collaboration

@{
    ViewData["Title"] = "Criar Colaboração";
}



@if (ViewData["ErrorMessage"] != null)
{
    <div class="alert alert-danger" role="alert">
        @ViewData["ErrorMessage"]
    </div>
}


<div class="row justify-content-center text-center">
    <div class="col-sm-6 bg-white rounded-3 border border-purple">
        <form method="post" enctype="multipart/form-data" asp-action="Create">
            <div class="form-group text-center mt-3">
                <h1>@ViewData["Title"]</h1>
            </div>
            <div class="form-group text-center mt-3">
                <label for="Title">Título:</label>
                <input type="text" class="form-control border-purple" id="Title" name="Title" value="@Model.Title">
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
            <div class="form-group text-center">
                <label for="Description">Descrição:</label>
                <textarea class="form-control border-purple" id="Description" name="Description">@Model.Description</textarea>
            </div>
            <div class="form-group text-center">
                <label for="MaxUsers">Número Máximo de Utilizadores:</label>
                <input type="number" class="form-control border-purple" id="MaxUsers" name="MaxUsers" value="@Model.MaxUsers" min="0" max="100">
                <span asp-validation-for="MaxUsers" class="text-danger"></span>
            </div>
            <div class="form-group text-center">
                <label for="AccessMode">Modo de Acesso:</label>
                <div class="position-relative">
                    <select class="form-select border-purple" id="AccessMode" name="AccessMode">
                        <option value="Public">Público</option>
                        <option value="Private">Privado</option>
                    </select>

                </div>
                <span asp-validation-for="AccessMode" class="text-danger"></span>
            </div>
            <div class="form-group text-center">
                <label for="AccessPassword">Senha de Acesso:</label>
                <input type="password" class="form-control border-purple" id="AccessPassword" name="AccessPassword" value="@Model.AccessPassword">
            </div>
            <div class="form-group text-center">
                <label asp-for="Photo" class="control-label">Foto</label>
                <input type="file" class="form-control border-purple " id="Photo" name="photo" />
                <span asp-validation-for="Photo" class="text-danger"></span>
            </div>
            <div class="form-group text-center my-3">
                <input type="submit" value="Adicionar" class="btn bg-purple text-white" />
            </div>
        </form>


    </div>
</div>
