@using MelodyCircle.ExtensionMethods
@using Microsoft.AspNetCore.Mvc.TagHelpers
@model MelodyCircle.Models.Collaboration

@{
    ViewData["Title"] = @Html.Translate("LB_DELETECOLLAB");
}

<div class="border border-purple bg-white text-center p-2 p-sm-2 p-md-3 p-lg-5 rounded-3 mx-auto w-50">
    <div class="d-flex flex-column align-items-center">
        <h1> @Html.Translate("LB_CONFIRMCOLLABDELETE")</h1>

        <h4>@Html.Translate("LB_DETAILS"):</h4>
        <hr />
        <dl class="row">
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Title)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Title)
            </dd>
        </dl>

        <form asp-action="DeleteConfirmed" method="post">
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <input type="submit" value="Eliminar" class="btn btn-danger" />
                <a asp-action="Index" class="btn btn-secondary">@Html.Translate("LB_CANCEL")</a>
            </div>
        </form>
    </div>
</div>
