@using System.Security.Claims
@using MelodyCircle.ExtensionMethods
@using Microsoft.AspNetCore.Identity
@using MelodyCircle.Data
@model IEnumerable<MelodyCircle.Models.Collaboration>
@inject UserManager<User> UserManager
@inject ApplicationDbContext Context

@{
    ViewData["Title"] = "Colaborações Criadas";
}

<div class="text-center">
    <h1>@ViewData["Title"]</h1>
</div>

<div class="container">
    

    @foreach (var collaboration in Model)
    {
        <div class="row rounded border border-purple bg-white my-3 py-3 px-3 d-flex align-items-center justify-content-between w-100">
            <div class="col-2">
                @if (collaboration.Photo != null && collaboration.Photo.Length > 0)
                {
                    <img src="data:@collaboration.PhotoContentType;base64,@Convert.ToBase64String(collaboration.Photo)" alt="Foto da Colaboração" class="img-fluid rounded" style="max-height: 50px; max-width: 50px;" />
                }
                else
                {
                    <div class="bg-darkPurple rounded" style="height: 50px; width: 50px;"></div>
                }
            </div>
            <div class="col-2 px-3 title-width">@collaboration.Title (@collaboration.AccessMode.ToString())</div>

            @{
                double averageRating = Context.CollaborationRating
                .Where(u => u.CollaborationId.Equals(collaboration.Id))
                .ToList()
                .CalculateAverageRating();

                int roundedRating = (int)Math.Round(averageRating, MidpointRounding.AwayFromZero);
                int fullStars = roundedRating / 2;
                int halfStar = roundedRating % 2;
                int emptyStars = 5 - fullStars - halfStar;
            }

            <div class="col-2 ">
                <div class="star-rating ">
                    @for (int i = 0; i < fullStars; i++)
                    {
                        <img src="~/img/star-filled-svgrepo-com.svg" />
                    }
                    @if (halfStar > 0)
                    {
                        <img src="~/img/star-half-svgrepo-com.svg" />
                        fullStars++;
                    }
                    @for (int i = fullStars; i < 5; i++)
                    {
                        <img src="~/img/estrelaEmpty.svg" />
                    }
                </div>
            </div>
            <div class="col-2 px-3">@collaboration.CreatedDate.ToString("dd-MM-yyyy")</div>
            <div class="col-2 px-3">Finalizada: @(collaboration.IsFinished ? "Sim" : "Não")</div>
            <br />

            <div class="col-2 px-3 ">
                @if (User.Identity.IsAuthenticated && collaboration.CreatorId == User.FindFirstValue(ClaimTypes.NameIdentifier))
                {
                    if (!collaboration.IsFinished)
                    {
                        <a href="@Url.Action("Edit", "Collaboration", new { id = collaboration.Id })" class="btn text-white"><img src="~/img/edit.svg" /> </a>
                    }
                    <a href="@Url.Action("Delete", "Collaboration", new { id = collaboration.Id })" class="btn text-white"><img src="~/img/delete.svg" /> </a>
                }
            </div>
            <div class="col-2 px-3 w-100 align-items-center pt-2 ">
                @if (User.Identity.IsAuthenticated && collaboration.CreatorId == User.FindFirstValue(ClaimTypes.NameIdentifier))
                {
                    if (collaboration.AccessMode == AccessMode.Public)
                    {
                        <a href="@Url.Action("WaitingList", "Collaboration", new { id = collaboration.Id })" class="btn bg-purple text-white">Ver Lista de Espera</a>
                    }

                    <a href="@Url.Action("ContributingUsers", "Collaboration", new { id = collaboration.Id })" class="btn bg-purple text-white">Ver Lista de Contribuidores</a>
                    
                    if (!collaboration.IsFinished)
                    {
                        <a href="@Url.Action("Finish", "Collaboration", new { id = collaboration.Id })" class="btn bg-purple text-white">Finalizar</a>
                    }
                }

                @if (!collaboration.IsFinished)
                {
                    <a href="@Url.Action("ArrangementPanel", "Collaboration", new { id = collaboration.Id })" class="btn bg-purple text-white">Abrir Painel de Arranjo</a>
                }
            </div>
        </div>
    }
</div>

<a class="btn bg-purple text-white rounded-circle floating-button z-3" href="/Collaboration/Create">+</a>

<div class="text-end">
    <a asp-action="ViewMode" class="btn bg-purple text-white rounded floating-button-center"><img src="~/img/view-eye-svgrepo-com.svg" /><img src="~/img/cycle-svgrepo-com.svg" /></a>
</div>