@using System.Security.Claims
@model IEnumerable<MelodyCircle.Models.Collaboration>

@{
    ViewData["Title"] = "Colaborações";
}

<div class="text-center text-purple">
    <h1>@ViewData["Title"]</h1>
</div>

<div class="container">
    <div class="row mb-3">
        <div class="col">
            <a href="@Url.Action("Create", "Collaboration")" class="btn btn-primary">Criar</a>
        </div>
    </div>

    @foreach (var collaboration in Model)
    {
        <div class="row bg-white my-3 py-3 px-3 d-flex align-items-center justify-content-between">
            <div class="col-2">
                @if (collaboration.Photo != null && collaboration.Photo.Length > 0)
                {
                    <img src="data:@collaboration.PhotoContentType;base64,@Convert.ToBase64String(collaboration.Photo)" alt="Foto da Colaboração" class="img-fluid rounded" style="max-height: 50px; max-width: 50px;" />
                }
                else
                {
                    <div class="bg-darkPurple rounded" style="height: 50px; width: 50px;"></div>
                }
            </div>
            <div class="col-6 px-3 title-width">@collaboration.Title</div>
            <div class="col-2 px-3">@collaboration.CreatedDate.ToString("dd-MM-yyyy")</div>
            <div class="col-2 px-3">tag</div>
            <div class="col-2 px-3">
                @if (User.Identity.IsAuthenticated && collaboration.CreatorId == User.FindFirstValue(ClaimTypes.NameIdentifier))
                {
                    <a href="@Url.Action("Edit", "Collaboration", new { id = collaboration.Id })" class="btn bg-purple text-white">Editar</a>
                    <a href="@Url.Action("Delete", "Collaboration", new { id = collaboration.Id })" class="btn bg-purple text-white">Eliminar</a>
                    <a href="@Url.Action("Finish", "Collaboration", new { id = collaboration.Id })" class="btn bg-purple text-white">Finalizar</a>
                    <a href="@Url.Action("WaitingList", "Collaboration", new { id = collaboration.Id })" class="btn bg-purple text-white">Ver Lista de Espera</a>
                }
                else
                {
                    <form method="post" action="@Url.Action("JoinQueue", "Collaboration", new { id = collaboration.Id })">
                        @Html.AntiForgeryToken()
                        <button type="submit" class="btn bg-purple text-white">Entrar</button>
                    </form>
                }
            </div>
        </div>
    }
</div>