@model MelodyCircle.Models.Collaboration

@{
    ViewData["Title"] = "Confirmação de Entrada";
}

<div class="text-center">
    <h1>@ViewData["Title"]</h1>
    <h3>Deseja entrar nesta colaboração?</h3>
    <h5>Colaboração: @Model.Title</h5>
    <form method="post" action="@Url.Action("JoinQueueConfirm", "Collaboration", new { id = Model.Id })">
        @Html.AntiForgeryToken()
        <button type="submit" class="btn bg-purple text-white">Confirmar Entrada</button>
        <a href="@Url.Action("Index", "Collaboration")" class="btn bg-purple text-white">Cancelar</a>
    </form>
</div>