@using MelodyCircle.ExtensionMethods
@model MelodyCircle.Models.Collaboration

@{
    ViewData["Title"] = @Html.Translate("LB_CONFIRMENTRYCOLLAB");
}
@* André Nunes, Guilherme Bernardino *@
<div class="text-center">
    <h1>@ViewData["Title"]</h1>
    <h3>@Html.Translate("LB_WISHTOJOINCOLLAB")</h3>
    <h5>Colaboração: @Model.Title</h5>
    <form method="post" action="@Url.Action("JoinQueueConfirm", "Collaboration", new { id = Model.Id })">
        @Html.AntiForgeryToken()
        <button type="submit" class="btn bg-purple text-white">@Html.Translate("LB_CONFIRM")</button>
        <a href="@Url.Action("Index", "Collaboration")" class="btn bg-purple text-white">@Html.Translate("LB_CANCEL")</a>
    </form>
</div>