@using MelodyCircle.ExtensionMethods
@model MelodyCircle.Models.Collaboration

@{
	ViewData["Title"] = @Html.Translate("LB_CONFIRMENTRYCOLLAB");
}

<div class="text-center">
    @if (ViewData["ErrorMessage"] != null)
    {
        <div class="alert alert-danger" role="alert">
            @ViewData["ErrorMessage"]
        </div>
    }
    else
    {
        <h1>@Html.Translate("LB_PLACEDINWL") "@Model.Title"</h1>
    }
    <a href="@Url.Action("Index", "Collaboration")" class="btn bg-purple text-white">@Html.Translate("LB_GOBACKTOCOLLABLIST")</a>
</div>