@using MelodyCircle.ExtensionMethods
@model MelodyCircle.Models.Collaboration

@{
    ViewData["Title"] = @Html.Translate("LB_WAITINGLIST");
}

<div class="text-center">
    <h1>@ViewData["Title"]</h1>

    <div class="rounded border border-purple table-responsive row bg-white my-3 py-3 px-3 d-flex align-items-center justify-content-between w-100">

    <table class="table">
        <thead>
            <tr>
                <th>@Html.Translate("LB_USERNAME")</th>
                <th>@Html.Translate("LB_ACTIONS")</th>
            </tr>
        </thead>
        <tbody>
            @if (Model.WaitingUsers != null)
            {
                @foreach (var user in Model.WaitingUsers)
                {
                    <tr>
                        <td><a asp-action="Profile" asp-controller="User" asp-route-id="@user.UserName">@user.UserName</a></td>
                        <td>
                            <form method="post" action="@Url.Action("AllowUser", "Collaboration", new { collaborationId = Model.Id, userId = user.Id })">
                                @Html.AntiForgeryToken()
                                    <button type="submit" class="btn btn-success">@Html.Translate("LB_ALLOWENTRY")</button>
                            </form>

                            @if (ViewData["ErrorMessage"] != null)
                            {
                                <span class="text-danger">@ViewData["ErrorMessage"]</span>
                            }
                        </td>
                    </tr>
                }
            }
            else
            {
                <tr>
                        <td colspan="3">@Html.Translate("LB_NOUSERSWL")</td>
                </tr>
            }
        </tbody>
    </table>
    </div>
    <a href="@Url.Action("Index", "Collaboration")" class="btn bg-purple text-white">@Html.Translate("LB_GOBACK")</a>
</div>