@using MelodyCircle.ExtensionMethods
@using Microsoft.AspNetCore.Mvc.TagHelpers
@{
	ViewData["Title"] = @Html.Translate("LB_CONFIRMSUBSCRIBE");
}

@* Guilherme Bernardino *@

<h2>@ViewData["Title"]</h2>
<p>@Html.Translate("LB_WISHTOSUBSCRIBE")</p>
<form asp-action="Subscribe" asp-controller="SubscribeTutorial" method="post">
    <input type="hidden" name="tutorialId" value="@ViewData["TutorialId"]" />
    <button type="submit" class="btn bg-purple text-white">@Html.Translate("LB_CONFIRMSUBSCRIBE")</button>
</form>