@model MelodyCircle.Models.ForumPost

<div class="border border-purple bg-white text-dark p-3 rounded-3 text-center mx-auto" style="width: 50%;">
    <h1>@Model.Title</h1>
    <p>@Model.Content</p>
</div>

<div class="border border-purple bg-white text-dark p-3 rounded-3 text-center mx-auto my-4 w-50">
    @if (!Model.IsClosed)
    {
			@if (User.Identity.IsAuthenticated)
			{
				<h3>Adicionar comentário</h3>
				<form asp-action="Comment" asp-route-id="@Model.Id" method="post">
					<div class="form-group">
						<textarea asp-for="Content" class="form-control"></textarea>
						<span asp-validation-for="Content" class="text-danger"></span>
					</div>
                    @if (TempData["ErrorMessage"] != null)
                    {
                        <span class="text-danger">@TempData["ErrorMessage"]</span>
                    }
					<div class="form-group">
						<input type="submit" value="Add Comment" class="btn bg-purple text-white mt-3" />
					</div>
				</form>
			}
    }
    else
    {
        <div class="text-center my-4"><p>O post está fechado. Não é possível adicionar comentários</p></div>
    }
    
    <hr>
    
    @if (Model.Comments.Any())
    {
    
            <h2>Comentários</h2>
            @foreach (var comment in Model.Comments)
            {
                <div class="bg-light p-3 mb-3 rounded">
                    <div class="d-flex justify-content-between mb-2">
                        <div><a asp-action="Profile" asp-controller="User" asp-route-id="@comment.User.UserName" class="text-decoration-none text-primary">@comment.User.UserName</a></div>
                        <div class="text-muted">@comment.CreatedAt.ToString("dd-MM-yyyy HH:mm")</div>
                    </div>
                    <div class="text-start">@comment.Content</div>
                </div>
            }
        
    }
    else
    {
        <div class="text-center my-4"><p>Sem comentários</p></div>
    }
</div>

