@model MelodyCircle.Models.ForumPost

<h1>@Model.Title</h1>
<p>@Model.Content</p>

<h2>Comentários</h2>

@if (Model.Comments.Any())
{
    <ul>
        @foreach (var comment in Model.Comments)
        {
            <li><a asp-action="Profile" asp-controller="User" asp-route-id="@comment.User.UserName">@comment.User.UserName</a></li>
            <li>@comment.CreatedAt.ToString("dd-MM-yyyy HH:mm")</li>
            <li>@comment.Content</li>
            <br />
        }
    </ul>
}
else
{
    <p>Sem comentários</p>
}

@if (!Model.IsClosed)
{
    <h2>Adicionar comentário</h2>
    <form asp-action="Comment" asp-route-id="@Model.Id" method="post">
        <div class="form-group">
            <label asp-for="Content" class="control-label"></label>
            <textarea asp-for="Content" class="form-control"></textarea>
            <span asp-validation-for="Content" class="text-danger"></span>
        </div>
        <div class="form-group">
            <input type="submit" value="Add Comment" class="btn btn-primary" />
        </div>
    </form>
}
else
{
    <p>O post está fechado. Não é possível adicionar comentários</p>
}