@using Microsoft.AspNetCore.Identity
@using MelodyCircle.Data;
@model List<Notification>
@inject ApplicationDbContext Context

<h2 class="text-center">Notifications</h2>

@if (Model != null || Model.Count > 0)
{
    @foreach (var notification in Model)
    {
       
        @if (notification.Status == NotificationStatus.Pending)
        {
            <div class="text-center border-purple bg-white p-4 mx-auto mb-4 w-25 justify-content-center align-items-center">
                <h3>Collaboration Invitation</h3>
                <p><strong>@notification.CollaborationTitle</strong></p>
                <p>@notification.CollaborationDescription</p>

                @{
                    var username = Context.Users.Where(s => s.Id.ToString() == notification.SenderId).FirstOrDefault().UserName;
                }

                <p>The user <strong>@username</strong> is inviting you to a collab. Join?</p>
                <form asp-action="AcceptInvite" asp-controller="Notification" method="post">
                    <input type="hidden" name="notificationId" value="@notification.Id" />
                    <button type="submit" class="btn bg-purple text-white">Accept</button>
                </form>
                <form asp-action="DeclineInvite" asp-controller="Notification" method="post" class="pt-2">
                    <input type="hidden" name="notificationId" value="@notification.Id" />
                    <button type="submit" class="btn btn-danger">Decline</button>
                </form>
            </div>
        }
    }
}
else
{
    <h2>No Notifications!</h2>
}

