@* Guilherme Bernardino, André Nunes  *@

<div class="offcanvas offcanvas-start border-purple rounded mt-auto m-4 w-25 h-50 text-center align-items-center" data-bs-scroll="true" data-bs-backdrop="false" tabindex="-1" id="offcanvasScrolling" aria-labelledby="offcanvasScrollingLabel">
    <div class="offcanvas-header text-center">
        <h2 class="offcanvas-title" id="offcanvasScrollingLabel">Estatísticas</h2>
        <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>

    <h4>Estatísticas do Utilizador - @ViewBag.UserName</h4>

    <div class="col-8 mt-4">
        <canvas id="tutorialCreationChart" width="800" height="400"></canvas>
        <canvas id="collaborationCreationChart" width="800" height="400"></canvas>
    </div>
</div>

@section scripts {
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

    <script>
        var tutorialCtx = document.getElementById('tutorialCreationChart').getContext('2d');
        var tutorialMonthsAndYears = @Html.Raw(Json.Serialize(ViewBag.MonthsAndYears));
        var tutorialCounts = @Html.Raw(Json.Serialize(ViewBag.TutorialCounts));

        var tutorialChart = new Chart(tutorialCtx, {
            type: 'line',
            data: {
                labels: tutorialMonthsAndYears,
                datasets: [{
                    label: 'Tutoriais Criados',
                    data: tutorialCounts,
                    backgroundColor: 'rgba(75, 192, 192, 0.2)',
                    borderColor: 'rgba(75, 192, 192, 1)',
                    borderWidth: 1
                }]
            },
            options: {
                scales: {
                    y: {
                        beginAtZero: true
                    }
                }
            }
        });

        var collaborationCtx = document.getElementById('collaborationCreationChart').getContext('2d');
        var collaborationMonthsAndYears = @Html.Raw(Json.Serialize(ViewBag.MonthsAndYears));
        var collaborationCounts = @Html.Raw(Json.Serialize(ViewBag.CollaborationCounts));

        var collaborationChart = new Chart(collaborationCtx, {
            type: 'line',
            data: {
                labels: collaborationMonthsAndYears,
                datasets: [{
                    label: 'Colaborações Criadas',
                    data: collaborationCounts,
                    backgroundColor: 'rgba(255, 159, 64, 0.2)',
                    borderColor: 'rgba(255, 159, 64, 1)',
                    borderWidth: 1
                }]
            },
            options: {
                scales: {
                    y: {
                        beginAtZero: true
                    }
                }
            }
        });
    </script>
}