@page
@using MelodyCircle.ExtensionMethods
@model IndexModel
@{
    ViewData["Title"] = @Html.Translate("LB_PROFILE");
    ViewData["ActivePage"] = ManageNavPages.Index;
}

<h4>@ViewData["Title"]</h4>
<partial name="_StatusMessage" for="StatusMessage" />
<div class="row">
    <div class="col-md-6">
        <form id="profile-form" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>

            <div class=" mb-3">
                <label asp-for="Input.Name" class="form-label text-black fs-md-4 fs-lg-3"></label>
                <input asp-for="Input.Name" class="form-control" autocomplete="name" aria-required="true" placeholder="Nome de Perfil" />
                <span asp-validation-for="Input.Name" class="text-danger"></span>
            </div>
			<div class=" mb-3">
                <label asp-for="Input.BirthDate" class="form-label text-black fs-md-4 fs-lg-3" ></label>
                <input asp-for="Input.BirthDate" class="form-label " autocomplete="birth-date" aria-required="true" placeholder="Data de Nascimento" />
				<span asp-validation-for="Input.BirthDate" class="text-danger"></span>
			</div>
            <div class=" mb-3">
                <label asp-for="Input.Locality" class="form-label text-black fs-md-4 fs-lg-3"></label>
                <input asp-for="Input.Locality" class="form-control" autocomplete="name" aria-required="true" placeholder="Localidade" />
                <span asp-validation-for="Input.Locality" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <div>
                    <label>@Html.Translate("LB_GENDER"):</label>
                    <label for="gender-male">M</label><input type="radio"  asp-for="Input.Gender" value="Male" id="gender-male" />
                    <label for="gender-female">F</label><input type="radio"   asp-for="Input.Gender" value="Female" id="gender-female" />
                    <label for="gender-other">@Html.Translate("LB_OTHER")</label><input type="radio" asp-for="Input.Gender" value="Other" id="gender-other" />
                </div>
                <span asp-validation-for="Input.Gender" class="text-danger"></span>
            </div>
            <button id="update-profile-button" type="submit" class="w-100 mt-2 btn bg-purple text-white">@Html.Translate("LB_SAVE")</button>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
