@page
@using MelodyCircle.ExtensionMethods
@using Microsoft.AspNetCore.Mvc.TagHelpers
@model LanguageModel
@{
	ViewData["Title"] = @Html.Translate("LB_LANGUAGE");
    ViewData["ActivePage"] = ManageNavPages.Language;
}

<h4>@ViewData["Title"]</h4>


	<div class="col-md-6">
	<p>@Html.Translate("LB_CHANGELANGUAGE")</p>
		<form id="pt-pt" asp-page-handler="ChangeLanguage" method="post">
			<input type="hidden" name="culture" value="pt-PT" />
		<button class="w-100 mt-2 btn bg-purple text-white" type="submit">@Html.Translate("LB_PT")</button>
		</form>

		<form id="en-us" asp-page-handler="ChangeLanguage" method="post">
			<input type="hidden" name="culture" value="en-US" />
		<button class="w-100 mt-2 btn bg-purple text-white" type="submit">@Html.Translate("LB_EN")</button>
		</form>
	</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}

