@using Microsoft.AspNetCore.Identity
@inject SignInManager<User> SignInManager
@inject UserManager<User> UserManager

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - MelodyCircle</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/MelodyCircle.styles.css" asp-append-version="true" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href='https://fonts.googleapis.com/css?family=Lexend' rel='stylesheet'>
    @RenderSection("head", false)
</head>
@{
    // Obtém o nome do controlador e da ação da página atual
    var currentController = ViewContext.RouteData.Values["Controller"]?.ToString();
    var currentAction = ViewContext.RouteData.Values["Action"]?.ToString();
    var currentPage = ViewContext.RouteData.Values["Page"]?.ToString();
}   
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-purple border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <a class="navbar-brand text-white me-auto">MelodyCircle</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1 justify-content-center">
                        @if (User.Identity.IsAuthenticated)
                        {
                            <li class="nav-item rounded-pill bg-lightBlue text-center" style="width: 50px; margin-right: 5px; margin-left: 5px;">
                                <a class="nav-link text-center" asp-controller="User" asp-action="" asp-route-id="@User.Identity.Name"><img src="~/img/IconNotif.svg" alt="Notif." class="icon" /></a>
                            </li>
                        }
                        @if (currentController != null && currentController.Equals("Home"))
                        {
                            <li class="nav-item rounded-pill bg-white" style="width: 100px; margin-right: 5px; margin-left: 5px;">
                                <a class="nav-link text-center" asp-area="" asp-controller="Home" asp-action="Index"><img src="~/img/IconHome2.svg" alt="Home." class="icon fill-lightBlue" /></a>
                            </li>
                        }
                        else
                        {
                            <li class="nav-item rounded-pill bg-lightBlue" style="width: 100px; margin-right: 5px; margin-left: 5px;">
                                <a class="nav-link text-center" asp-area="" asp-controller="Home" asp-action="Index"><img src="~/img/IconHome.svg" alt="Home." class="icon fill-white" /></a>
                            </li>
                        }

                        <li class="nav-item rounded-pill bg-lightBlue" style="width: 100px; margin-right: 5px; margin-left: 5px;">
                            <a class="nav-link text-center" asp-area="" asp-controller="User" asp-action=""><img src="~/img/IconProcurar.svg" alt="Home." class="icon fill-white" /></a></a>
                        </li>
                        @if (User.Identity.IsAuthenticated)
                        {
                            @if (currentController != null && currentController.Equals("Tutorial"))
                            {
                                <li class="nav-item rounded-pill bg-white" style="width: 100px; margin-right: 5px; margin-left: 5px;">
                                    <a class="nav-link text-center" asp-area="" asp-controller="Tutorial" asp-action="Index"><img src="~/img/IconProjetos2.svg" alt="Tuto." class="icon" /></a>
                                </li>
                            }
                            else
                            {
                                <li class="nav-item rounded-pill bg-lightBlue" style="width: 100px; margin-right: 5px; margin-left: 5px;">
                                    <a class="nav-link text-center" asp-area="" asp-controller="Tutorial" asp-action="Index"><img src="~/img/IconProjetos.svg" alt="Tuto." class="icon" /></a>
                                </li>
                            }
                            @if (currentController != null && currentController.Equals("Collaboration"))
                            {
                                <li class="nav-item rounded-pill bg-white" style="width: 100px; margin-right: 5px; margin-left: 5px;">
                                    <a class="nav-link text-center" asp-area="" asp-controller="Collaboration" asp-action="Index"><img src="~/img/IconColabs2.svg" alt="Colab." class="icon" /></a>
                                </li>
                            }
                            else
                            {
                                <li class="nav-item rounded-pill bg-lightBlue" style="width: 100px; margin-right: 5px; margin-left: 5px;">
                                    <a class="nav-link text-center" asp-area="" asp-controller="Collaboration" asp-action="Index"><img src="~/img/IconColabs.svg" alt="Colab." class="icon" /></a>
                                </li>
                            }
                        }
@*                      @if (User.IsInRole("Admin"))
                        {
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="User" asp-action="Index">All Users</a>
                            </li>
                        } *@
                        @if (SignInManager.IsSignedIn(User))
                        {
                            @if ((currentAction != null && currentAction.Equals("Profile")) || (currentPage != null && currentPage.Equals("/Account/Manage/Index")))
                            {
                                <li class="nav-item dropdown rounded-pill bg-white" style="width: 100px; margin-right: 5px; margin-left: 5px;">
                                <a class="nav-link text-center" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="position: relative;">
                                    <img src="~/img/IconPerfil2.svg" alt="Home." class="icon fill-lightBlue" style="margin-right: 5px;" />
                                    <img src="~/img/IconDropdown2.svg" alt="Drop." class="icon dropdown-icon fill-lightBlue" />
                                </a>
                                <div class="dropdown-menu rounded-bottom border border-purple" aria-labelledby="navbarDropdown">
                                    <form class="form-inline" asp-controller="User" asp-action="Profile" asp-route-id="@User.Identity.Name">
                                        <button type="submit" class="dropdown-item">Pefil</button>
                                    </form>
                                    <a class="dropdown-item" asp-area="Identity" asp-page="/Account/Manage/Index">Definições</a>
                                    @* <form class="form-inline" asp-controller="User" asp-action="ListConnections" asp-route-id="@User.Identity.Name">
                                <button type="submit" class="dropdown-item">Connections</button>
                                </form> *@
                                    <form class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
                                        <button type="submit" class="dropdown-item">Terminar Sessão</button>
                                    </form>
                                </div>
                            </li>
                           }
                           else{
                                <li class="nav-item dropdown rounded-pill bg-lightBlue" style="width: 100px; margin-right: 5px; margin-left: 5px;">
                                <a class="nav-link text-center" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="position: relative;">
                                    <img src="~/img/IconPerfil.svg" alt="Home." class="icon fill-white" style="margin-right: 5px;" />
                                    <img src="~/img/IconDropdown.svg" alt="Drop." class="icon dropdown-icon" />
                                </a>
                                <div class="dropdown-menu rounded-bottom border border-purple" aria-labelledby="navbarDropdown">
                                    <form class="form-inline" asp-controller="User" asp-action="Profile" asp-route-id="@User.Identity.Name">
                                        <button type="submit" class="dropdown-item">Pefil</button>
                                    </form>
                                    <a class="dropdown-item" asp-area="Identity" asp-page="/Account/Manage/Index">Definições</a>
                                    @* <form class="form-inline" asp-controller="User" asp-action="ListConnections" asp-route-id="@User.Identity.Name">
                                <button type="submit" class="dropdown-item">Connections</button>
                                </form> *@
                                    <form class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
                                        <button type="submit" class="dropdown-item">Terminar Sessão</button>
                                    </form>
                                </div>
                            </li>
                            }
                             <li id="connectionBtn" class="nav-item rounded-pill bg-lightBlue text-center" style="width: 50px; margin-right: 5px; margin-left: 5px;">
                                <a class="nav-link text-center" asp-controller="User" asp-action="ListConnections" asp-route-id="@User.Identity.Name"><img src="~/img/IconMensagem.svg" alt="Drop." class="icon" /></a>
                            </li>
                        }
                    </ul>
                    <partial name="_LoginPartial" />
                    @if (User.Identity.IsAuthenticated)
                    {
                        <a class="text-purple2 me-auto">MelodyCircle</a>
                    }
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

@*     <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2024 - MelodyCircle - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer> *@
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
    $(document).ready(function(){
        $(".dropdown-toggle").click(function(){
            $(this).toggleClass('active');
        });
    });

    $(document).ready(function () {
        $('#connectionBtn').on('click', function () {
            $(this).toggleClass('active');
        });
    });

</script>
